<div class="py-10 lg:py-20 overflow-hidden {{ section.settings.border }}" style="background: {{ section.settings.bg }}">
  <div class="site-container px-4">
    {%- if section.settings.title != blank -%}
      {% liquid 
        assign text_align = section.settings.text_align
        assign justify = 'items-center mx-auto'
        if text_align == 'text-start'
          assign justify = 'items-start'
        endif
      %}
      <div class="flex flex-col justify-start max-w-[710px] {{ text_align }} {{ justify }}">
        {%- if section.settings.sub_heading != blank -%}
          <div class="eyebrow">{{ section.settings.sub_heading }}</div>
        {%- endif -%}
        <h2 class="heading heading--4 text-5xl text-[40px] lg:!text-[60px] mt-2 lg:mt-3">{{ section.settings.title }}</h2>
        {%- if section.settings.text != blank -%}
          <div class="text-sm mt-5 lg:mt-10">{{ section.settings.text }}</div>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="{% if section.settings.title != blank %}mt-10{% endif %} d-grid lg:mt-20 gap-x-[1rem] gap-y-8 lg:gap-y-14 grid-cols-2 lg:grid-cols-4">
      {% for block in section.blocks %}
        <div class="relative">
          {% if block.settings.image %}
            {% capture image %}
              <div class="ratio media media--transparent" style="--ratio-percent: 133%">
                {{
                  block.settings.image
                  | image_url: width: 600
                  | image_tag: class: 'block object-contain h-auto', loading: 'lazy'
                }}
              </div>
            {% endcapture %}
          {% endif %}
          {% capture info %}
            {%- if block.settings.title != blank -%}
              <div class="mt-2 lg:mt-6 text-base lg:text-[22px]">{{ block.settings.title }}</div>
            {%- endif -%}
            {%- if block.settings.sub_heading != blank -%}
              <div class="mt-2 mb-4 text-sm tracking-widest">{{ block.settings.sub_heading }}</div>
            {%- endif -%}
            {%- if block.settings.text != blank -%}
              <div class="mt-1 text-xs lg:text-base max-w-[260px]">{{ block.settings.text }}</div>
            {%- endif -%}
          {% endcapture %}

          {{ image }}
          {{ info }}


          <aside-content >
            <button
              type="button"
              class="absolute inset-0 block z-50"
              data-index="doctor-{{ forloop.index0 }}"
            >&nbsp;</button>
            <div
              class="aside-content fixed w-full h-full lg:h-full lg:top-0 right-0 top-0 opacity-0 bg-black bg-opacity-25 invisible z-[100] transition-all"
              data-index="doctor-{{ forloop.index0 }}"
            >
              <div
                class="flyout__content bg-cream absolute overflow-auto top-0 right-0 w-full !h-full md:h-full z-20 translate-y-[100%] transition-all duration-300 md:w-1/2 lg:top-0 lg:h-full lg:translate-y-0 lg:translate-x-[100%]"
              >
                <div class="relative">
                  <div class="flex flex-col p-4 lg:p-7">
                    <button
                      class="close-button-js ml-auto sticky top-4 right-4 bg-cream rounded-full lg:hover:bg-black lg:hover:text-cream transition-colors duration-300"
                      aria-label="Close"
                    >
                      {% render 'icon-close' %}
                    </button>
                    <div class="px-5 py-10 lg:px-20">
                      <div class="max-w-[300px]">
                        {{ image }}
                      </div>
                      <div class="mt-5">
                        {{ info }}
                        <div class="mt-8 lg:mt-20">
                          {{ block.settings.bio }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside-content>
        </div>
      {% endfor %}
    </div>
    {%- if section.settings.cta_text != blank -%}
      <div class="flex justify-center mt-14">
        <a href="{{ section.settings.cta_url }}" class="cta">{{ section.settings.cta_text }}</a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Doctors",
  "tag": "section",
  "presets": [
    {
      "name": "Doctors"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center", 
          "label": "Center"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "CTA"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA Link"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "rgba(229, 219, 204, 1)"
    },
    {
      "type": "select",
      "id": "border",
      "label": "Section Border",
      "options": [
        {
          "value": "border-t border-black",
          "label": "Top"
        },
        {
          "value": "border-b border-black",
          "label": "Bottom"
        },
        {
          "value": "",
          "label": "None"
        }
      ],
      "default": ""
    }
  ],
  "blocks": [
    {
      "name": "Doctor",
      "type": "doctor",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Photo"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub-Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "richtext",
          "id": "bio",
          "label": "Bio"
        },
      ]
    }
  ]
}
{% endschema %}
