<div
  class="{% if section.settings.fifty_fifty == false %}flex justify-center lg:justify-start items-center h-screen{% endif %} lg:h-[calc(100vh-96px)] lg:min-h-[600px] lg:min-h-[832px] relative w-full"
  {% unless section.settings.bg_color == blank %}
    style="background: {{ section.settings.bg_color }}"
  {% endunless %}
>
  <div class="{% if section.settings.fifty_fifty == true %}d-grid lg:grid-cols-2 h-full{% else %}px-4 lg:pl-16 site-container w-full{% endif %} fifty-selector">
    <!-- TEXT -->
    <div class="hero-left-block d-grid gap-4 relative w-full content-center text-center lg:text-start z-10 {% if section.settings.text_color == 'white' %}text-white{% else %}text-black{% endif %} {% if section.settings.fifty_fifty == true %}py-16 lg:py-0 {% if section.settings.mobile_image_first %}order-2{% else %}order-1{% endif %} lg:order-1 lg:pl-8 min-[1440px]:pl-[calc((100vw-1440px+64px+128px)/2)]{% endif %}">
      {% unless section.settings.sub_heading == blank %}
        <p class="sub-heading">{{ section.settings.sub_heading }}</p>
      {% endunless %}
      {% unless section.settings.title == blank %}
        <h2 class="heading heading-with-floating heading--1 lg:text-[90px] lg:w-[410px] lg:mb-2">
          {%- capture words -%}
            {% unless section.settings.title_words == blank %}
              <span>
                <words-changer data-words="{{ section.settings.title_words }}">
                  {% assign first_word = section.settings.title_words | split: ',' | first %}
                  <em class="target-js">{{ first_word }}</em>
                </words-changer>
              </span>
            {% endunless %}
          {%- endcapture -%}
{%- liquid
  assign first_word = section.settings.title_words | split: ',' | first
  assign title_last = section.settings.title | split: '</p>' | last

  if section.settings.sup_word != blank
    assign supword = '<sup class="sup_word" style="vertical-align: sub;">' | append: section.settings.sup_word | append: '</sup>'
    assign last_row = title_last | append: supword
    assign original_block = title_last | append: '</p>'
    assign new_block = last_row | append: '</p>'
    assign title = section.settings.title | replace: original_block, new_block
  else
    assign title = section.settings.title
  endif
-%}
{{ title }}

        </h2>

      <style>
        .sup_word{
          {% comment %}
          font-size:{{ section.settings.sup_size }}%;
          }
          {% endcomment %}
      </style>
      
      {% comment %}
        <i class="heading_floating_text">{{ section.settings.floating_text }}</i>
        <style>
          .heading-with-floating:after{content:"{{ section.settings.floating_text | escape }}";}
        </style>
        {% endcomment %}
      {% endunless %}
      {% unless section.settings.text == blank %}
        <div class="paragraph paragraph--2 lg:max-w-[330px] mb-4 lg:mb-8">{{ section.settings.text }}</div>
      {% endunless %}
      {% unless section.settings.cta_link == blank or section.settings.cta_text == blank %}
        <a
          class="button mx-auto lg:mx-0 {% if section.settings.button_color == 'cream' %}button--cream{% else %}button--black{% endif %}"
          href="{{ section.settings.cta_link }}"
          title="{{ section.settings.cta_text }}"
        >
          {{ section.settings.cta_text }}
        </a>
      {% endunless %}
    </div>
    <!-- / TEXT -->

    <!-- MEDIA -->
    <div class="{% if section.settings.fifty_fifty == true %}{% if section.settings.mobile_image_first %}order-1{% else %}order-2{% endif %} lg:order-2 relative aspect-square lg:aspect-[unset]{% endif %}">
      <!-- VIDEO -->
      {% unless section.settings.video_url_mobile == blank %}
        <div class="lg:hidden">
          <site-video>
            <video
              {% unless section.settings.video_poster_mobile == blank %}
                poster="{{ section.settings.video_poster_mobile | image_url: width: 1000 }}"
              {% endunless %}
              class="absolute w-full h-full object-cover top-0 left-0"
              loop
              autoplay
              muted
              playsinline
            >
              <source data-src="{{ section.settings.video_url_mobile }}" type="video/mp4">
            </video>
          </site-video>
        </div>
      {% endunless %}
      {% unless section.settings.video_url_desktop == blank %}
        <div class="d-none lg:block">
          <site-video>
            <video
              {% unless section.settings.video_poster_desktop == blank %}
                poster="{{ section.settings.video_poster_desktop | image_url: width: 1920 }}"
              {% endunless %}
              class="absolute w-full h-full object-cover top-0 left-0"
              loop
              autoplay
              muted
              playsinline
            >
              <source data-src="{{ section.settings.video_url_desktop }}" type="video/mp4">
            </video>
          </site-video>
        </div>
      {% endunless %}
      <!-- / VIDEO -->

      <!-- IMAGE -->
      {% unless section.settings.image_mobile == blank %}
        <div class="absolute top-0 left-0 w-full h-full lg:hidden">
          {%- render 'image', image: section.settings.image_mobile, class: 'site-image', loading: 'eager' -%}
        </div>
      {% endunless %}
      {% unless section.settings.image_desktop == blank %}
        <div class="absolute top-0 left-0 w-full h-full d-none lg:block">
          {%- render 'image', image: section.settings.image_desktop, class: 'site-image', loading: 'eager' -%}
        </div>
      {% endunless %}
      <!-- / IMAGE -->
    </div>
    <!-- / MEDIA -->
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "presets": [
    {
      "name": "Hero"
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "fifty_fifty",
      "label": "Fifty Fifty"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "info": "This helps with initial load, should be the most dominant color in the background photo or video"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Button Color",
      "default": "black",
      "options": [
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "cream",
          "label": "Cream"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text Color",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ]
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub-Heading"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sup_word",
      "label": "Floating word",
      
      "info": "Top right word"
    },
    {
      "type": "text",
      "id": "title_words",
      "label": "Title Words",
      "info": "To cycle words, this field should be comma separated, e.g. Energy,Body,Soul"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Background Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "video_url_desktop",
      "label": "Video URL Desktop (Mp4)"
    },
    {
      "type": "text",
      "id": "video_url_mobile",
      "label": "Video URL Mobile (Mp4)"
    },
    {
      "type": "image_picker",
      "id": "video_poster_mobile",
      "label": "Video Poster Mobile"
    },
    {
      "type": "image_picker",
      "id": "video_poster",
      "label": "Video Poster Desktop"
    },
    {
      "type": "checkbox",
      "id": "mobile_image_first",
      "label": "Show image before content on mobile",
      "default": false,
      "info": "When enabled, the image will appear before the content on mobile devices"
    },
  ]
}
{% endschema %}
