{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'quick-add.css' | asset_url | stylesheet_tag }}

<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="py-16 pb-12 lg:pb-5 overflow-hidden {{ section.settings.border }}">
  <div class="site-container">
    {%- assign config = '{"slidesPerView": 1.7,"spaceBetween": 10, "breakpoints": {"768": {"slidesPerView": 3},"1024": {"slidesPerView": 4}}}' -%}
    <site-carousel
      data-config="{{ config | escape }}"
      id="{{ section.id }}"
      class="relative opacity-0 transition-all duration-500 block"
      data-id="{{ section.id }}"
    >
      <div class="flex items-center mb-8 lg:px-6 gap-x-14">
        {% unless section.settings.title == blank %}
          <h2 class="font-body-regular text-sm tracking-widest uppercase">
            {{ section.settings.title }}
          </h2>
        {% endunless %}
        <carousel-prev class="ml-auto">
          <button class="carousel-nav rotate-180 ">
            {% render 'carousel-arrow' %}
          </button>
        </carousel-prev>
        <carousel-next class="">
          <button class="carousel-nav">
            {% render 'carousel-arrow' %}
          </button>
        </carousel-next>
      </div>
  
      <div class="swiper !overflow-visible lg:!overflow-hidden">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {%- liquid
              assign show_secondary_media = false
              if block.settings.video
                assign show_secondary_media = true
              endif
            -%}
            <div class="swiper-slide">
              {%
                render 'card-product',
                card_product: block.settings.product,
                product_image: block.settings.image,
                product_video: block.settings.video,
                product_title: block.settings.title,
                product_info: block.settings.info,
                show_secondary_media: show_secondary_media,
                hide_reviews: section.settings.hide_reviews,
                quick_add: 'standard',
              %}
            </div>
          {% endfor %}
        </div>
      </div>
    </site-carousel>
  </div>
</div>

{% schema %}
{
  "name": "Product Carousel",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "hide_reviews",
      "label": "Hide reviews",
      "default": false
    },
    {
      "type": "select",
      "id": "border",
      "label": "Section Border",
      "options": [
        {
          "value": "border-t border-black",
          "label": "Top"
        },
        {
          "value": "border-b border-black",
          "label": "Bottom"
        },
        {
          "value": "",
          "label": "None"
        }
      ],
      "default": ""
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "info",
          "label": "Info"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}
